<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-success">
		<a class="navbar-brand" href="/urls">TinyApp</a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/home">My URLs</a>
				<a class="nav-item nav-link" href="/home/createURL">Create New URL</a>
			</div>
			<div>
				<% if(!user){ %>
				<!-- Register Button -->
				<form method="GET" action="/register" name="user_id">
					<button
						type="submit"
						class="btn btn-outline-light"
						value="register"
						style="margin-right: 5px; margin-left: 5px"
					>
						Register
					</button>
				</form>
				<!-- Login Button -->
				<form method="GET" action="/login" name="user_id">
					<button type="submit" class="btn btn-outline-light" value="login" style="margin-left: 5px">login</button>
				</form>
			</div>
			<% } else { %>
			<div>
				<h4>Logged in as <%= user.email %></h4>
			</div>
			<div>
				<!-- Logout Button -->
				<form method="POST" action="/logout">
					<label></label>
					<button
						type="submit"
						class="btn btn-outline-light"
						value="logout"
						style="margin-right: 5px; margin-left: 5px"
					>
						logout
					</button>
				</form>
			</div>
			<% } %>
		</div>
	</nav>
</header>
